In [85]:
import pandas as pd
import numpy as np

# Cargamos los datos del índice desde el archivo .csv
data = pd.read_csv("merval.csv")

# Veamos los últimos datos
data.head()

        Fecha     Último   Apertura     Máximo     Mínimo Vol.  % var.
0  02.08.2019  41.359,15  41.410,98  41.651,40  40.572,68    -  -0,13%
1  01.08.2019  41.410,98  42.057,77  42.492,78  41.220,28    -  -1,54%
2  31.07.2019  42.057,77  42.463,24  42.722,32  41.804,62    -  -0,95%
3  30.07.2019  42.463,24  42.785,46  42.836,75  42.417,96    -  -0,75%
4  29.07.2019  42.785,46  41.983,74  43.069,98  41.743,16    -   1,91%

In [86]:
# Cantidad de muestras (días) que tenemos del índice MERVAL
len(data)

2449

In [87]:
# Necesitamos convertir cada variación a float para poder analizar los datos ya que eran strings.
data["% var."] = data["% var."].apply(lambda x: float(x.replace(",",".")[0:-1]))

In [88]:
# Días que el Merval se mantuvo estacionario
# Cantidad de estados (S)
data[data["% var."] == 0]["% var."].count()

22

In [89]:
# Días que el Merval subió
# Cantidad de estados (U)
data[data["% var."] > 0]["% var."].count()

1312

In [90]:
# Días que el Merval bajó
# Cantidad de estados (D)
data[data["% var."] < 0]["% var."].count()

1115

In [91]:
# Necesitamos saber la correlación de estados, es decir, en que estado estaba y a cual se movió
# Para poder armar luego la matriz de transición
# Para esto necesitamos saber en que estado estamos y cual fue el anterior
conditions = [
    (data["% var."] > 0),
    (data["% var."] < 0),
    (data["% var."] == 0)
]
choices = ["U", "D", "S"]
data["Actual"] = np.select(conditions, choices, default="black")

In [94]:
# Ya tenemos una columna con el estado actual
data.head()

        Fecha     Último   Apertura     Máximo     Mínimo Vol.  % var. Actual
0  02.08.2019  41.359,15  41.410,98  41.651,40  40.572,68    -   -0.13      D
1  01.08.2019  41.410,98  42.057,77  42.492,78  41.220,28    -   -1.54      D
2  31.07.2019  42.057,77  42.463,24  42.722,32  41.804,62    -   -0.95      D
3  30.07.2019  42.463,24  42.785,46  42.836,75  42.417,96    -   -0.75      D
4  29.07.2019  42.785,46  41.983,74  43.069,98  41.743,16    -    1.91      U

In [100]:
for i in range(1, len(data)):
    data.loc[i-1, "Anterior"] = data.loc[i, "Actual"]

In [104]:
# Ahora ya tenemos en cada estado cual fue el anterior, ya tenemos todos los datos para calcular nuestra matriz
data.head()

,Fecha,Último,Apertura,Máximo,Mínimo,Vol.,% var.,Actual,Anterior
0,02.08.2019,"41.359,15","41.410,98","41.651,40","40.572,68",-,-0.13,D,D
1,01.08.2019,"41.410,98","42.057,77","42.492,78","41.220,28",-,-1.54,D,D
2,31.07.2019,"42.057,77","42.463,24","42.722,32","41.804,62",-,-0.95,D,D
3,30.07.2019,"42.463,24","42.785,46","42.836,75","42.417,96",-,-0.75,D,U
4,29.07.2019,"42.785,46","41.983,74","43.069,98","41.743,16",-,1.91,U,U

In [122]:
# Procedemos a obtener los datos para armar la matriz
# Cantidad de transiciones del estado U al estado U.

data[(data["Anterior"] == "U") & (data["Actual"] == "U")].count()

Fecha       736
Último      736
Apertura    736
Máximo      736
Mínimo      736
Vol.        736
% var.      736
Actual      736
Anterior    736
dtype: int64

In [123]:
# Cantidad de transiciones del estado U al estado S.
data[(data["Anterior"] == "U") & (data["Actual"] == "S")].count()

Fecha       15
Último      15
Apertura    15
Máximo      15
Mínimo      15
Vol.        15
% var.      15
Actual      15
Anterior    15
dtype: int64

In [124]:
# Cantidad de transiciones del estado U al estado D.
data[(data["Anterior"] == "U") & (data["Actual"] == "D")].count()

Fecha       561
Último      561
Apertura    561
Máximo      561
Mínimo      561
Vol.        561
% var.      561
Actual      561
Anterior    561
dtype: int64

In [125]:
# Cantidad de transiciones del estado S al estado U.
data[(data["Anterior"] == "S") & (data["Actual"] == "U")].count()

Fecha       11
Último      11
Apertura    11
Máximo      11
Mínimo      11
Vol.        11
% var.      11
Actual      11
Anterior    11
dtype: int64

In [126]:
# Cantidad de transiciones del estado S al estado S.
data[(data["Anterior"] == "S") & (data["Actual"] == "S")].count()

Fecha       1
Último      1
Apertura    1
Máximo      1
Mínimo      1
Vol.        1
% var.      1
Actual      1
Anterior    1
dtype: int64

In [127]:
# Cantidad de transiciones del estado S al estado D.
data[(data["Anterior"] == "S") & (data["Actual"] == "D")].count()

Fecha       10
Último      10
Apertura    10
Máximo      10
Mínimo      10
Vol.        10
% var.      10
Actual      10
Anterior    10
dtype: int64

In [128]:
# Cantidad de transiciones del estado D al estado U.
data[(data["Anterior"] == "D") & (data["Actual"] == "U")].count()

Fecha       565
Último      565
Apertura    565
Máximo      565
Mínimo      565
Vol.        565
% var.      565
Actual      565
Anterior    565
dtype: int64

In [129]:
# Cantidad de transiciones del estado D al estado S.
data[(data["Anterior"] == "D") & (data["Actual"] == "S")].count()

Fecha       6
Último      6
Apertura    6
Máximo      6
Mínimo      6
Vol.        6
% var.      6
Actual      6
Anterior    6
dtype: int64

In [130]:
# Cantidad de transiciones del estado D al estado D.
data[(data["Anterior"] == "D") & (data["Actual"] == "D")].count()

Fecha       543
Último      543
Apertura    543
Máximo      543
Mínimo      543
Vol.        543
% var.      543
Actual      543
Anterior    543
dtype: int64

In [137]:
# Ya podemos armar la matriz de cantidad de estados

matriz_estados = np.matrix([[736,15,561], [11, 1, 10], [565, 6, 543]])
matriz_estados

matrix([[736,  15, 561],
        [ 11,   1,  10],
        [565,   6, 543]])