In [48]:
import pandas as pd

# Cargamos los datos del índice desde el archivo .csv
data = pd.read_csv("merval.csv")

# Veamos los últimos datos
data.head()

        Fecha     Último   Apertura     Máximo     Mínimo Vol.  % var.
0  02.08.2019  41.359,15  41.410,98  41.651,40  40.572,68    -  -0,13%
1  01.08.2019  41.410,98  42.057,77  42.492,78  41.220,28    -  -1,54%
2  31.07.2019  42.057,77  42.463,24  42.722,32  41.804,62    -  -0,95%
3  30.07.2019  42.463,24  42.785,46  42.836,75  42.417,96    -  -0,75%
4  29.07.2019  42.785,46  41.983,74  43.069,98  41.743,16    -   1,91%

In [49]:
# Cantidad de muestras (días) que tenemos del índice MERVAL
len(data)

2449

In [50]:
# Necesitamos convertir cada variación a float para poder analizar los datos ya que eran strings.

data["% var."] = data["% var."].apply(lambda x: float(x.replace(",",".")[0:-1]))